{
  "presets": ["@babel/preset-typescript", 
    [
      "@babel/preset-env",
      {
        "targets": "> 2%, not dead"
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}